fastapi
uvicorn[standard]
jinja2
aiofiles
python-dotenv
pydantic
pydantic-settings
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
openai
faiss-cpu
pypdf
sentence-transformers
tavily-python
